{% load bootstrap4 %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    {{ form.media.css }}   
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <div>
        {% block content %}
        {% endblock content %}
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>