{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Telefonní seznam{% endblock %}

{% block content %}
  <div class="container d-print-none">
    {% crispy filter.form %}
  </div>
  {% if table.rows %}
    <div>
			{% include 'phonebook_table.html' %}
    </div>
  {% endif %}
{% endblock content %}