{% load django_tables2 %}
{% load i18n %}

{% block table-wrapper %}
<div class="container">
	{% block table %}
		{% block table.tbody %}
			<div id="accordion">
				<div class="card">
					{% for row in table.paginated_rows %}
						{% block table.tbody.row %}
							<div class="card-header" id="H{{ row.cells.personal_number }}">
								<button class="btn btn-link" data-toggle="collapse" data-target="#C{{ row.cells.personal_number }}"
												aria-expanded="true" aria-controls="C{{ row.cells.personal_number }}">
									{{ row.cells.name }}
								</button>
								{{ row.cells.department }}
							</div>
							<div id="C{{ row.cells.personal_number }}" class="collapse"
									 aria-labelledby="HC{{ row.cells.personal_number }}" data-parent="#accordion">
								<div class="card-body">
									<table class="table table-borderless">
										<tr>
											{% for column, cell in row.items %}
												<td><strong>{{ column.header }}:</strong> {{ cell }}</td>
												{% if forloop.counter|divisibleby:3 %}
													</tr>
													<tr>
												{% endif %}
											{% endfor %}
										</tr>
									</table>
								</div>
							</div>
						{% endblock table.tbody.row %}
					{% empty %}
						{% if table.empty_text %}
							{% block table.tbody.empty_text %}
								{{ table.empty_text }}
							{% endblock table.tbody.empty_text %}
						{% endif %}
					{% endfor %}
				</div>
			</div>	
		{% endblock table.tbody %}
	{% endblock table %}
</div>
<br>

<div>
	{% block pagination %}
		{% if table.page and table.paginator.num_pages > 1 %}
		<nav aria-label="Table navigation">
			<ul class="pagination justify-content-center">
			{% if table.page.has_previous %}
				{% block pagination.previous %}
				<li class="previous page-item">
					<a href="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" class="page-link">
						<span aria-hidden="true">&laquo;</span>
						{% trans 'previous' %}
					</a>
				</li>
				{% endblock pagination.previous %}
			{% endif %}
			{% if table.page.has_previous or table.page.has_next %}
			{% block pagination.range %}
			{% for p in table.page|table_page_range:table.paginator %}
				<li class="page-item{% if table.page.number == p %} active{% endif %}">
					<a class="page-link" {% if p != '...' %}href="{% querystring table.prefixed_page_field=p %}"{% endif %}>
						{{ p }}
					</a>
				</li>
			{% endfor %}
			{% endblock pagination.range %}
			{% endif %}
			{% if table.page.has_next %}
				{% block pagination.next %}
				<li class="next page-item">
					<a href="{% querystring table.prefixed_page_field=table.page.next_page_number %}" class="page-link">
						{% trans 'next' %}
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{% endblock pagination.next %}
			{% endif %}
			</ul>
		</nav>
		{% endif %}
	{% endblock pagination %}
</div>
{% endblock table-wrapper %}